.root{
    background-color: rgba(0, 255, 191, 0.783);
    text-align: center;
}

@media screen and (max-width: 760px) {
    .about-me-paragraph {
    display: flexbox;
    flex-direction: column;
    }

}

.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.timer-button-section.a:hover{
    box-shadow: 15px 0px 100px 0px rgb(59, 244, 173);
    transition: .3s ease;
    }


.footer{
    background-color: thistle;
    display: block;
    border: 10px;
    border-color: ghostwhite;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

.timer-button-section{
    flex: auto;
    border: 15px;
    border-color: slategray;
    background-color:burlywood;
    border-radius: 35px;
    line-height: 50px;
    margin: 30px 30px 30px 30px;
    padding: 5px 5px;
    text-align: center;
}

#start-timer-button{
    color: gray;
    border-radius: 15px;
    height: 35px;
    cursor: pointer;
}

#start-timer-button:hover{
    box-shadow: 5px 5px rgba(0,0,0,0.24), 10px 10px rgba(0,0,0,0.19);
    transition-duration: 1s;
}

.question-section-parent{
    display:flexbox;
    background-color: antiquewhite;
    height: 200px;
    width: auto;
    border: 15px;
    border-color: black;
    margin: 15px;
    padding-bottom: 15px;
}

#question-section{
    background-color: black;
    border: 15px;
    border-radius: 15px;
}

.question-box{
    display: flexbox;
    background-color: whitesmoke;
    border-radius: 25px;
    margin: 25px;
    padding: 25px;
    padding-top: 100px;
    width: auto;
    height: auto;
    text-align: center;
    border: 15px solid black;
}